body{
	font-family: 'Titillium Web', sans-serif;
}
h1{
	font-size: 66px;
	font-weight: 600;
	line-height: 80px;
}
h2{
	font-size: 48px;
	margin-bottom: 30px;
}
h3{
	font-size: 33px;
}
h5{
	margin-bottom: 0px;
}
p{
	font-size: 18px;
	color: #999;
	line-height: 1.8;
	margin-bottom: 0;
}
a:hover{
	text-decoration: none;
}
li a ion-icon{
	font-size: 18px;
	color: #fff; 
}
section{
	padding: 120px 0;
}
.bg-light-gray{
	background-color: #f5f5f5;
}
.bg-black{
	background-color: #1a1a1a;
}
.topmargin-lg{
	margin-top: 60px !important;
}
.topmargin-xs{
	margin-top: 15px !important;
}
.topmargin-sm{
	margin-top: 30px !important;
}
.topmargin-ssm{
	margin-top: 20px !important;
}
.full-width{
	width: 100%;
}
.btn{
	font-size: 14px;
	padding: 15px 26px;
	min-width: 160px;
	border-radius: 2px;
	display: inline-block; 
}
.btn-light{
	background-color: #fff;
	color: #1a1a1a;
	border: 2px solid #fff;
	font-weight: bold;
	font-size: 15px;
}
.btn-dark{
	background-color: #1a1a1a;
	color: #fff;
	border:2px solid #1a1a1a; 
}
.btn-trans{
	background-color: transparent;
	color: #fff;
	border: 2px solid #fff;
}
.btn ion-icon{
	font-size: 14px;
	margin-left: 5px;
}
.text-dark{
	color:#1a1a1a;
	font-weight: bold;
}
.divider{
	border-bottom: 2px solid #f5f5f5;
}
.navbar{
	background-color: #ffffff;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.05);
	min-height: 75px;
}
.nav-link{
	color: #1a1a1a;
}
.nav-link:hover{
	color: #1a1a1a;
}
.navbar-brand{
	min-width: 160px;
	max-width: 180px;
	color: #000;
	vertical-align: middle;
	padding: auto;
	font-family: 'Alata', sans-serif;
}
.navbar-toggler{
	font-size: 30px;
}
.navbar-toogler:focus{
	outline: dashed;
}
#hero{
	background-image: url('img/girl.jpg');
	background-size: cover;
	padding-top: 90px;
	min-height: 700px;
	color: #fff;
}
#hero p{
	color: #fff;
}
#hero i{
	font-size: 16px;
	vertical-align: middle;
}
.content-center{
	max-width: 800px;
	margin: 0 auto 60px auto;
	text-align: center;
}
.portfolio-container{
	position: relative;
	overflow: hidden;
	margin: 10px 0;
	border-radius: 2px;
}
.portfolio-details{
	position: absolute;
	bottom: 25px;
	left: 25px;
	z-index: 9000;
}
.portfolio-details a, .portfolio-details a p{
	color: #000;
}
.portfolio-details h2, .portfolio-details b{
	color: #999;
	margin-bottom: 0px;
}
.portfolio-container img{
	-moz-transition: all 0.8s;
	-webkit-transition: all 0.8s;
	transition: all 0.8s;	
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
.portfolio-container:hover img{
	-moz-transform: scale(1.2) ;
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}
.member-container{
	position: relative;
	margin: 10px 0;
}
.member-details{
	position: absolute;
	bottom: 0px;
	left: 20px; 
}
.member-details span{
	font-size: 14px;
}
.carousel{
	min-height: 240px;
	padding: 40px;
	border-radius: 2px;
	text-align: center;
}
.carousel p{
	font-size: 26px;
	font-weight: 400;
	color: #1a1a1a;
}
.rating ion-icon{
	color: gold;
	font-size: 26px;
}
.carousel-indicators li{
	background-color: #1a1a1a;
	width: 15px;
	height: 15px;
	border-radius: 2px;
	margin: 0 8px;
}
.carousel-control-next, .carousel-control-prev{
	color: #fff;
	opacity: 1;
	width: 5%;
}
.carousel-container{
	max-width: 800px;
	margin: 0 auto; 
}
.control-btn{
	background-color: #1a1a1a;
	opacity: 1;
	width: 50px;
	height: 50px;
	padding: 10px;
	border: 1px solid #1a1a1a;
	border-radius: 50px;
	font-size: 20px;
}
.control-btn ion-icon{
	color: #fff;
	font-size: 25px;
}
.testimonial-user{
	max-width: 240px;
	margin: 0 auto;
	text-align: left;
}
.testimonial-user h6{
	margin-bottom: 0px;
	font-weight: 400px;
}
.testimonial-user span{
	font-size: 12px;	
}
.testimonal-user img{
	border-radius: 50%;
	max-width: 50px;
	text-align: center;
}
.form-control{
	font-size: 14px;
	border: 1px solid #cacaca;
	padding: 15px;
	border-radius: 2px;
	height: auto;
}
.form-control:focus{
	border: 1px solid #1a1a1a;
	outline: none;
	box-shadow: none;
}
#footer{
	padding: 20px 0;
	text-align: center;
	color: #fff;
}
#footer ion-icon{
	color: white;
}
#footer p{
	color: white;
	vertical-align: middle;
}
#footer a{
	color: #fff;
}
#footer a:hover{
	color: gray;
}
#footer .list-inline .list-inline-item{
	padding: 10px 15px;
}

@media (max-width: 575.98px) { 
	h1{
		font-size: 40px;
		line-height: normal;
	}
	.plans{
		min-width: unset;
		padding: 40px;
	}
	.portfolio-details h2{
		font-size: 32px;
	}
	.carousel-item p{
		font-size: 20px;		
	}
	.footer-menu{
		display: block !important;
		padding: 20px 0 !important;
		font-size: 20px;
	}
}

@media (min-width: 576px) and (max-width: 767.98px) { ... }

@media (min-width: 768px) and (max-width: 991.98px) {
	.plans{
		min-width: unset;
		padding: 40px 20px;
	}
	.portfolio-details h2{
		font-size: 30px;
	}
	.footer-menu{
		display: block !important;
		padding: 20px 0 !important;
		font-size: 20px;
	}
}

@media (min-width: 992px) and (max-width: 1199.98px) { ... }

@media (min-width: 1200px) { ... }